@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --color-fondo: #F3F5FC;
    --color-texto: #0A3871;
    --color-boton-encriptar: #0A3871;
    --color-boton-desencriptar: #D8DFE8;
    --color-boton-copiar: #22D4FD;
    --color-hover: #272727;

    --fuente-inter: 'Roboto', sans-serif;
    
}



body{
    width: 1368px;
    height: 1024px;
    background-color: var(--color-fondo);
    
}
.challenge{
    display: flex;
    gap: 80px;
    width: 100%;
    height: 100%;
}
.challenge__Banner{
    padding: 40px 0 0 40px;
}

.challenge__Texto{
    display: flex;
    flex-direction: column;
    width: 680px;
    height: 100%;
    gap:16px;
}


.container__input {
    margin: 168px 0 0px 0;
    width: 100%;
    height: 667px;
    background-color: var(--color-fondo);
    border: none;
    outline: none;
    color: var(--color-texto);
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-align: start;
    resize: none;
}

::placeholder{
    color: var(--color-texto);
}

.challenge__Texto__Aviso{
    display: flex;
    height: 18px;
    width:  100%;
    gap: 8px;
    color: #495057;
}
.aviso{
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: start;
}

.challenge__Texto__Botones{
    display: flex;
    gap:24px;

}

button{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    color: white;
    font-family: var(--fuente-inter);
    font-size: 16px;
    line-height: 19.36px;

}
#encriptar{
    background: var(--color-boton-encriptar);
    color: white;
    
}

#desencriptar{
    background: var(--color-boton-desencriptar);
    border: 1px solid #0A3871;
    color: var(--color-texto);
    
    
}

.challenge__Encriptacion{
    
    height: 100%;
}

.challenge__Encriptador__Caja{
    margin: 40px 0  ;
    height: 944px;
    width: 400px;
    background: white;
    border-radius: 32px;
    
    
}

.challenge__Encriptador__Caja__Inicio{
    
    display: none;
    
    flex-direction: column;
    gap: 32px;
    padding: 0 32px;
    justify-content: center;
    height: 100%;

    
}
.challenge__Encriptador__Caja__Inicio__Texto{
    
    display: flex;
    flex-direction: column;
    gap: 16 px;
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    text-align: center;
}

#aviso{
    font-family: var(--fuente-inter);
    line-height: 28.8px;
    font-weight: 700;
    font-size: 24px;
    color: #343A40;
    
}

.challenge__Encriptador__Caja__Encriptacion{
    display: none;

    flex-direction: column;
    height: 100%;
    
    

}

#copiar{
    background: white;
    border: 1px solid #0A3871;
    color: var(--color-texto);
}

.challenge__Encriptador__Caja__Encriptacion__Final{
    padding: 32px 32px;
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: column;
    

    gap: 16px;

}

#textoEncriptacion{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: #495057;
    font-family: var(--fuente-inter);
    font-size: 24px;
    resize: none;
}

@media (max-width: 769px){
    body{
        width: 768px;
        height: 1174px;
        
    }
    
    .challenge{
        flex-direction:column;
        gap: 64px;
        padding: 40px;
        
    }

    .challenge__Texto{
        display: flex;
        flex-direction: column;
        width: 532px;
        height: 100%;
        gap:16px;
    }
    #logo{
        src: local("./assets/logoc.png");

    }
    .challenge__Texto__Aviso{
        align-self: center;
    }
    
    button{
        width: 332px;
        height: 67px;
    }

    .challenge__Texto__Botones{
        align-items: center;
    }

    .challenge__Encriptador__Caja{
        margin: 0 0;
        height: 343px;
        width: 668px;
        background: white;
        border-radius: 32px;
        
        
    }
    #copiar{
        align-self: center;
        width: 100%;
    }

    #imagen{
        display: none;
    }
}

@media (max-width: 376px) {
    
    body{
        width: 375px;
        height: 933px;
        
    }
    
    .challenge{
        flex-direction:column;
        gap: 64px;
        padding: 16px;
        
    }

    .challenge__Texto{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        gap:16px;
    }
    #logo{
        src: local("./assets/logot.png");

    }
    
    
    

    .challenge__Texto__Botones{
        flex-direction: column;
    }

    button{
        width: 343px;
        height: 67px;
    }

    .challenge__Encriptador__Caja{
        margin: 0 0;
        height: 186px;
        width: 327px;
        background: white;
        border-radius: 32px;
        
        
    }
    #copiar{
        align-self: center;
        width: 100%;
    }

    #imagen{
        display: none;
    }
  }
  